body{
	
	background-color: black;
}

#mycontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


#mycode{
 justify-content: center;
    align-items: center;
    width:200px;
    height: 50px;
    font: 40px;
}

#mybutton{
 justify-content: center;
    align-items: center;
    width:200px;
    height: 50px;
    font: 40px;
}