.jumbotron{
    background-color: #4ab4db;
}
.text-center{
	color: white;
}


#mybut{
	/* width:200px; */
	background-color: #4ab4db;
	font-family: 'Rubik Mono One', sans-serif;
}

#jumbotext{
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 36px;
}

.container{
	width: 650px;
}