.jumbotron{
    background-color: #42c2f4;
}
.text-center{
	color: white;
}


#mybut{
	/* width:200px; */
	background-color: #42c2f4;
	font-family: 'Rubik Mono One', sans-serif;
}

#jumbotext{
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 36px;
}